.create-account-container {
  margin-top:5rem;
  text-align:center;
}

.create-account-form {
  width:80%;
  margin:0 auto;
}

.redText {
  color:red;
}

.create-account-container  input {
  text-align:center;
}