.landing-page-section {
  text-align:center;
  margin-top:4rem;
}

.lp-instructions-container {
  justify-content:center;
  width:95%;
  margin:0 auto;
  margin-top:2rem;
  font-family: 'Montserrat', sans-serif;
}

.lp-instructions-instance {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.184);
  border-radius:5px;
  margin:.8rem;
  height:18rem;
  padding-top:2rem;
  background-color:white;
}

.lp-instructions-instance p {
  margin-top:2rem;
}

.lp-instructions-instance h3 {
  font-weight:bold;
}

.landing-page-section button {
  font-weight:bold;
}

.create-account-button {
  border-radius:1rem;
  margin-bottom:2rem;
  margin-top:1rem;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.381); 
  padding-left:1rem;
  padding-right:1rem;
}